h1 {
    margin-left: 4cm;
    text-align: center;
    margin-right: 5cm;
}

img {
    margin-left: 15cm;
}

p {
    margin-left: 3cm;
    text-align: center;
    margin-right: 5cm;
}

a {
    margin-left: 16cm;
}